# docker-compose.yml (Production)

services:
  db:
    image: postgres:16
    container_name: eventhub_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - eventhub-net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: eventhub_backend
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - media_volume:/app/media
      - static_volume:/app/staticfiles
    expose:
      - "8000"
    networks:
      - eventhub-net

networks:
  eventhub-net:
    driver: bridge

volumes:
  postgres_data:
  media_volume:
  static_volume: