services:
  db:
    image: postgres:16
    container_name: eventhub_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - eventhub-net

  backend:
    build:
      context: ./backend
    container_name: eventhub_backend
    command: >
      gunicorn eventmaster.wsgi:application
      --bind 0.0.0.0:8000
      --workers 3
      --log-level info
      --forwarded-allow-ips='*'
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - eventhub-net

networks:
  eventhub-net:

volumes:
  postgres_data:
